# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# FastAPI uploads / temp files
uploads/
converted/
tmp/
*.pdf

# Environment variables
.env
.env.*
